<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;"></h2>

        <h3 class="oe_slogan oe_mb32"></h3>

        <div class="oe_span4 text-center">
            <span class="fa fa-copy fa-2x"/>

            <p class="oe_mt16">

            </p>
        </div>
        <div class="oe_span4 text-center">
            <span class="fa fa-file-text fa-2x"/>

            <p class="oe_mt16">

            </p>
        </div>
        <div class="oe_span4 text-center">
            <span class="fa fa-file-pdf-o fa-2x"/>

            <p class="oe_mt16">

            </p>
        </div>
        <div class="col-md-8 col-md-offset-2 oe_mt32">
            <!--img class="oe_picture oe_screenshot" src="account_sc_01.png"/-->
        </div>
    </div>
</section>